<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>Hello World!</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/wangEditor.min.css" th:href="@{../../static/css/wangEditor.min.css}" />
</head>
<body>
    <h1 th:inline="text">Hello.v.2</h1>
    <!--<p th:text="${hello}"></p>-->

    <div id="div1">
        <p>请输入内容...</p>
    </div>

    <script type="text/javascript" th:src="@{../../static/js/lib/jquery-1.10.2.min.js}" src="../../static/js/lib/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" th:src="@{../../static/js/wangEditor.min.js}" src="../../static/js/wangEditor.min.js"></script>

    <script type="text/javascript">
        var div = document.getElementById('div1');
        var editor = new wangEditor(div);
        editor.config.codeDefaultLang = 'javascript'
        editor.create();
    </script>
    </body>
</html>