<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <script type="text/javascript" charset="utf-8">

    </script>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Admin</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Bootstrap core CSS     -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link th:href="@{/css/animate.min.css}" rel="stylesheet"/>

    <!--  Paper Dashboard core CSS    -->
    <link th:href="@{/css/paper-dashboard.css}" rel="stylesheet"/>

    <!--  Fonts and icons     -->
    <link th:href="@{/css/themify-icons.css}" rel="stylesheet">

    <link rel="stylesheet" type="text/css" th:href="@{/css/simditor/simditor.css}"/>

    <!--<link th:href="@{/css/dataTables.bootstrap.css}" rel="stylesheet">-->
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/plug-ins/28e7751dbec/integration/bootstrap/3/dataTables.bootstrap.css">
</head>
<body>
<div class="wrapper">
    <div th:replace="fragments/sideBar :: sideBarSubject">alert</div>



    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">Table List</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="ti-bell"></i>
                                <p class="notification">5</p>
                                <p>Notifications</p>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Notification 1</a></li>
                                <li><a href="#">Notification 2</a></li>
                                <li><a href="#">Notification 3</a></li>
                                <li><a href="#">Notification 4</a></li>
                                <li><a href="#">Another notification</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <i class="ti-settings"></i>
                                <p>Settings</p>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>

        <table id="example" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>试题编号</th>
                <th>试题内容</th>
                <th>修改</th>
                <th>删除</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Row 1 Data 1</td>
                <td>Row 1 Data 2</td>
                <td></td>
            </tr>
            </tbody>
        </table>

        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>

                        <li>
                            <a href="#">
                                Creative Tim
                            </a>
                        </li>
                        <li>
                            <a href="http://blog.creative-tim.com">
                                Blog
                            </a>
                        </li>
                        <li>
                            <a href="#/license">
                                Licenses
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script>, made with <i class="fa fa-heart heart"></i> by <a href="#">LEE</a>.
                </div>
            </div>
        </footer>


    </div>
</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">修改信息</h4>
            </div>
            <div class="modal-body">
                <div class="father">
                    <form id = "MyForm" class="bs-example bs-example-form" role="form">
                        <div class="input-group">
                            <span class="input-group-addon">试题内容</span>
                            <textarea required="required" id="editor" placeholder="请输入试题内容" autofocus name="content"></textarea>
                            <!--<input type="text" class="form-control" placeholder="twitterhandle">-->
                        </div>
                        <div class="input-group select">
                            <span class="input-group-addon">选项A</span>
                            <input required="required" type="text" class="form-control item" name="aItem" id="aItem">
                        </div>
                        <div class="input-group select">
                            <span class="input-group-addon">选项B</span>
                            <input required="required" type="text" class="form-control item" name="bItem" id="bItem">
                        </div>
                        <div class="input-group select">
                            <span class="input-group-addon">选项C</span>
                            <input required="required" type="text" class="form-control item" name="cItem" id="cItem">
                        </div>
                        <div class="input-group select">
                            <span class="input-group-addon">选项D</span>
                            <input required="required" type="text" class="form-control item" name="dItem" id="dItem">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">正确答案</span>
                            <input required="required" type="text" class="form-control" name="answer" id="answer">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon">解析</span>
                            <input required="required" type="text" class="form-control" name="analysis" id="analysis">
                        </div>
                        <input type="hidden" name="id" id="id"/>

                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="update()">提交更改</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal -->
</div>
<!-- 模态框（Modal）end -->
</body>

<!--   Core JS Files   -->
<script th:src="@{/js/jquery-1.10.2.js}" type="text/javascript"></script>
<script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>

<script th:src="@{/js/jquery.dataTables.min.js}" type="text/javascript"></script>
<!--  Checkbox, Radio & Switch Plugins -->
<script th:src="@{/js/bootstrap-checkbox-radio.js}"></script>

<!--  Charts Plugin -->
<script th:src="@{/js/chartist.min.js}"></script>

<!--  Notifications Plugin    -->
<script th:src="@{/js/bootstrap-notify.js}"></script>

<script th:src="@{/js/dataTables.bootstrap.js}"></script>

<script type="text/javascript" th:src="@{/js/simditor/module.js}"></script>
<script type="text/javascript" th:src="@{/js/simditor/hotkeys.js}"></script>
<script type="text/javascript" th:src="@{/js/simditor/uploader.js}"></script>
<script type="text/javascript" th:src="@{/js/simditor/simditor.js}"></script>
<script type="text/javascript">

    function editInfo(subjectId) {
        $.ajax({
            //获取URL
            type: "POST",
            url:"/admin/queryOneSubject?subjectId=" + subjectId,
            dataType: "json",
                success: function(data){
                var subject = data.data;
                    var editor = new Simditor({
                        textarea: $('#editor'),
                        //optional options

                    });
                    editor.setValue(subject.content)
                //$('#editor').val();
                $('#id').val(subject.subjectId);
                $('#aItem').val(subject.aItem);
                $('#cItem').val(subject.cItem);
                $('#bItem').val(subject.bItem);
                $('#dItem').val(subject.dItem);
                $('#analysis').val(subject.analysis);
                $('#answer').val(subject.answer);
                $('#analysis').val(subject.analysis);
            },
            error:function(XMLHttpRequest, textStatus, errorThrown) {
                console.log(XMLHttpRequest.status);
                console.log(XMLHttpRequest.readyState);
                console.log(textStatus);
                console.log(errorThrown);
            }
        });

        $('#update').modal('show');
    }
    $('#example').dataTable({
        "paging": true,
        "iDisplayLength": 10, //默认每页数量
        //"bPaginate": true, //翻页功能
        "bLengthChange": true, //改变每页显示数据数量
        "bFilter": true, //过滤功能
        "bSort": true, //排序功能
        "bInfo": true, //页脚信息
        "bRetrieve": true,
        "bStateSave" :false,
        //"serverSide" : true,//服务器端进行分页处理的意思
        "bPaginate": true,
        //"bProcessing": true
        "processing": true,
        "serverSide": false,
        "ajax": {url:"/admin/querySubject",
                 dataSrc:'data'
        },
        columns: [
            {   data: 'subjectId' },
            {   data: 'content' },
            {   data: 'subjectList',
                title: "<i class='icon-question-sign'></i>",
                render: function (data, type, row, meta) {
                    var subjectId = row.subjectId;
                    var subjectList = "<a href='javascript:;' onclick='javascript:editInfo("+subjectId+")'><span class='glyphicon glyphicon-pencil'></span></a>";
                    return subjectList;
                }
            },
            {   data: 'subjectList',
                title: "<i class='icon-question-sign'></i>",
                render: function (data, type, row, meta) {
                    var subjectId = row.subjectId;
                    var subjectList = "<a href='javascript:;' onclick='javascript:deleteInfo("+subjectId+")' target='_blank'><span class='glyphicon glyphicon-trash'></span></a>";
                    return subjectList;
                }
            },
        ]
    });



    $('#example')
        .removeClass( 'display' )
        .addClass('table table-striped table-bordered');

    function update(e) {
        //$("#MyForm").submit()
        $.ajax({
            //获取URL
            type: "POST",
            url:"/admin/updateSubject",
            //dataType: "json",
            data: $("#MyForm").serialize(),
            success: function(data){
                alert(data.resultString);
                window.location.href = '/admin/subject';
            },
            error: function() {
                alert("error");
            }
        });
    }
    function deleteInfo(subjectId) {
        //$("#MyForm").submit()
        $.ajax({
            //获取URL
            type: "POST",
            url:"/admin/deleteSubject?subjectId="+subjectId,
            dataType: "json",
            success: function(data){
                debugger;
                alert(data.returnString);
                window.location.href = '/admin/subject';
            },
            error: function() {
                alert("error");
            }
        });
    }
</script>
</html>
