<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Hello World!</title>
    <link rel="stylesheet" th:href="@{/css/index.css}" href="../../static/css/index.css">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/simditor/simditor.css}"/>
</head>
<body>
    <div class="father">
        <ul class="nav nav-pills">
            <li role="presentation" class="active" id="select"><a href="#">选择题</a></li>
            <li role="presentation" id="fill"><a href="#">填空题</a></li>
        </ul>
        <form class="bs-example bs-example-form" role="form" th:action="@{/teacher/addSubject}" method="post">
            <div class="input-group">
                <span class="input-group-addon">试题类别</span>
                <select name="subjectType" class="form-control" >
                    <span th:each="subjectType : ${subjectTypes}">
                    <option name="subjectType" th:value="${subjectType.typeId}" th:text="${subjectType.typeName}">1</option>
                    </span>
            </select>
            </div>
            <div class="input-group">
                <span class="input-group-addon">试题内容</span>
                <textarea required="required" id="editor" placeholder="请输入试题内容" autofocus name="content"></textarea>
                <!--<input type="text" class="form-control" placeholder="twitterhandle">-->
            </div>
            <div class="input-group select">
                <span class="input-group-addon">选项A</span>
                <input required="required" type="text" class="form-control" name="aItem">
            </div>
            <div class="input-group select">
                <span class="input-group-addon">选项B</span>
                <input required="required" type="text" class="form-control" name="bItem">
            </div>
            <div class="input-group select">
                <span class="input-group-addon">选项C</span>
                <input required="required" type="text" class="form-control" name="cItem">
            </div>
            <div class="input-group select">
                <span class="input-group-addon">选项D</span>
                <input required="required" type="text" class="form-control" name="dItem">
            </div>
            <div class="input-group">
                <span class="input-group-addon">正确答案</span>
                <input required="required" type="text" class="form-control" name="answer">
            </div>
            <div class="input-group">
                <span class="input-group-addon">解析</span>
                <input required="required" type="text" class="form-control" name="analysis">
            </div>
            <div class="input-group">
                <button type="submit" name="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>

<script type="text/javascript" th:src="@{/js/simditor/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/simditor/module.js}"></script>
<script type="text/javascript" th:src="@{/js/simditor/hotkeys.js}"></script>
<script type="text/javascript" th:src="@{/js/simditor/uploader.js}"></script>
<script type="text/javascript" th:src="@{/js/simditor/simditor.js}"></script>
<script th:src="@{/js/bootstrap.min.js}" src="../../static/js/bootstrap.min.js"></script>


<script type="text/javascript">

    var editor = new Simditor({
        textarea: $('#editor')
        //optional options
    });

    document.querySelector('#fill').onclick = function () {
        document.querySelector('#fill').className = 'active';
        document.querySelector('#select').className = '';
        var items = document.querySelectorAll('.select');
        for (var i = 0;i<items.length;i++){
            items[i].className = 'input-group select hidden';
        }
    };
    document.querySelector('#select').onclick = function () {
        document.querySelector('#select').className = 'active';
        document.querySelector('#fill').className = '';
        var items = document.querySelectorAll('.select');
        for (var i = 0;i<items.length;i++){
            items[i].className = 'input-group select';
        }
    };
</script>

</body>
</html>