<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Hello World!</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/simditor/simditor.css}" />
</head>
<body>

<textarea id="editor" placeholder="Balabala" autofocus></textarea>

<script type="text/javascript" th:src="@{js/simditor/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{js/simditor/module.js}"></script>
<script type="text/javascript" th:src="@{js/simditor/hotkeys.js}"></script>
<script type="text/javascript" th:src="@{js/simditor/uploader.js}"></script>
<script type="text/javascript" th:src="@{js/simditor/simditor.js}"></script>

<script type="text/javascript">
    var editor = new Simditor({
        textarea: $('#editor')
        //optional options
    });
</script>

</body>
</html>