<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/index.css}" href="../../static/css/index.css">
    <title>试题</title>
</head>
<body>
<!--<div th:replace="fragments/header :: head">alert</div>-->
<!--改成显示试题编号，分页位置、颜色调整-->
<a th:href="@{/teacher/queryCart}"></a>
<ul class="questions-ul" >
    <span class="ul-line"></span>
    <li class = "questions-li" th:each="subject : ${subjects}">
        <span th:value="${subject.content}" class="contentSpan"></span>
        <div class="row indent" th:text="A．+${subject.aItem}">A．（3，2）</div>
        <div class="row indent" th:text="B．+${subject.bItem}">B．（3，1）</div>
        <div class="row indent" th:text="C．+${subject.cItem}">C．（2，2）</div>
        <div class="row indent" th:text="D．+${subject.dItem}">D．（-2，2）</div>
        <div th:id="answerlook+${subject.subjectId}" class="hidden">
            <div th:text="正确答案：+${subject.answer}"></div>
            <div th:text="解析：+${subject.analysis}"></div>
        </div>
        <div class="btn-group lookanswers">
            <button class="btn-fav" th:value="${subject.subjectId}" onclick="removeSub(this)">从试题篮中移除</button>
            <button class="btn-answer" th:id="look+${subject.subjectId}" onclick="answerLook(this)">查看解析</button>
        </div>
    </li>
    <a th:href="@{/teacher/down}">下载试卷</a>
    <button type="submit" name="submit" class="btn btn-primary" onclick="createPaper()">Submit</button>
    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        开始演示模态框
    </button>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-hidden="true">×
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        请输入试卷标题
                    </h4>

                </div>
                <div class="modal-body">
                    <input type="text" name="paperName" id="paperName"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">关闭
                    </button>
                    <button type="submit" name="submit" class="btn btn-primary" onclick="createPaper()">Submit</button>
                    <!--<button type="button" class="btn btn-primary">-->
                        <!--提交更改-->
                    <!--</button>-->
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <span class="ul-line"></span>
</ul>
<!-- 列表分页的DIV,由JS动态填充内容-->
<ul class="pagination pagination-lg" id="link">

</ul><br>

<script th:src="@{/js/jquery.min.js}" src="../../static/js/jquery.min.js"></script>
<script th:src="@{/js/bootstrap.min.js}" src="../../static/js/bootstrap.min.js"></script>
<script type="text/javascript" th:inline="javascript">
    $(document).ready(function(){
        var typeId = Number([[${typeId}]]);
        var totalNumber = Number([[${totalPageNumber}]]);
        var pageSize = Number([[${pageSize}]]);
        var pageCount = totalNumber/pageSize;
        var html = "";
        for(var i = 0;i<pageCount;i++){
            var link_Url = "<li><a href=\""+typeId+"?pageNumber="+(i+1)+"\">"+(i+1)+"</a></li>";
            html += link_Url;
        }
        var fenyeDiv = document.getElementById("link");
        fenyeDiv.innerHTML=html;
    });

    $(window).load(function() {
        $('.contentSpan').each(
            function(index,el){
                el.innerHTML = el.getAttribute('value');
            }
        )
    });

    function answerLook(e) {
        if(document.querySelector('#answer'+e.id).className == 'hidden'){
            document.querySelector('#answer'+e.id).className = 'show';
            document.querySelector('#'+e.id).innerText = '收起解析';
        }else{
            document.querySelector('#answer'+e.id).className = 'hidden';
            document.querySelector('#'+e.id).innerText = '查看解析';
        }
    }
    function removeSub(subjectId){
        var subjectData = subjectId.value;
        $.ajax({
            //获取URL
            type: "POST",
            url:"/teacher/removeFromCart?subjectId=" + subjectData,
            dataType: "json",
            success: function(data){
                alert(data.resultString);
                window.location.href = '/teacher/queryCart';
            },
            error: function() {
                alert("error");
            }
        });
    }
    function createPaper(){
        var paperName = document.getElementById('paperName').value;
        $.ajax({
            //获取URL
            type: "POST",
            url:"/teacher/createPaperByCart?paperName="+paperName,
            dataType: "json",
            success: function(data){
                alert(data.resultString);
                window.location.href = '/teacher';
            },
            error: function() {
                alert("error");
            }
        });
    }

</script>
</body>
</html>