<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <title>自测系统</title>
</head>
<body>
<div th:fragment="head">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="#" class="navbar-brand" >
                <img th:src="@{/img/logo1.png}" alt="自测系统">
            </a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/user}"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
                <li>
                    <a href="/login" class="register" th:unless="${#httpServletRequest.remoteUser != null}">登录</a>
                    <!-- Single button -->
                    <div class="btn-group" th:if="${#httpServletRequest.remoteUser != null}">
                        <button type="button" th:text="${#httpServletRequest.remoteUser}" class="register userName" onclick="toggleBtn()">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="btn-uls hidden">
                            <li><a href="#">bbb</a></li>
                            <li><a href="#">我的资料</a></li>
                            <li><a href="/user/queryFav">我的收藏</a></li>
                            <li><a th:href="@{/logout}" th:method="post">退出登录</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#" class="register"> 注册</a></li>
            </ul>
            <form class="navbar-form navbar-left" id="myForm" onsubmit="PostData()">
                <div class="form-group">
                    <select name="searchType" class="form-control">
                        <option value="subject">试题</option>
                        <option value="paper">试卷</option>
                    </select>
                    <input type="text" name="searchString" class="form-control" placeholder="试题搜索">
                </div>
                <button class="btn btn-default btn-for-search">搜索</button>
            </form>
        </div>
    </div>
</nav>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript">
    function PostData() {
        var result = '';
        $.ajax({
            //获取URL
            type: "POST",
            url:"/user/search",
            //dataType: "json",
            data: $("#myForm").serialize(),
            success: function(rel){
                debugger
                window.open('','ques',"_self");
            },
            error: function() {
                alert("error");
            }
        });

    }

    function toggleBtn(){
        var btnUl = document.querySelector('.btn-uls');
        if(btnUl.className == 'btn-uls hidden'){
            btnUl.className = 'btn-uls show';
        }else{
            btnUl.className = 'btn-uls hidden'
        }
    }
</script>
</div>
</body>
</html>