<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        *{
            margin: 0;
            padding: 0;
        }
        h2{
            text-align: center;
            font-family: '黑体';
        }
        .container{
            margin: 10px 80px;
        }
        .container .answer{
            text-indent: 30px;
        }
    </style>
</head>
<body>

<h2>东北石油大学软件学院大四毕业考试</h2>
<div class="container">
        <span class="question">
           第一题就快到了广泛的临时工极度分裂施工方的刚发的广泛地（）
        </span>
    <div class="answer">A.
        <span>
                辅导费大富大贵
            </span>
    </div>
    <div class="answer">B.
        <span>
                天天特瑞特突然
            </span>
    </div>
    <div class="answer">C.
        <span>
                建行卡很快就恢复
            </span>
    </div>
    <div class="answer">D.
        <span>
                高合金钢解放军
            </span>
    </div>
</div>

</body>
</html>